/* CONTEXTUAL MENU */
.custom-menu-item {
  border: none !important;
  height: 32px !important;
  width: 170px !important;
  padding-left: 16px !important; /* Adjust the left padding */
  color: rgba(0, 0, 0, 0.87) !important;
  background-color: #fafafa !important;
  font-weight: normal !important;
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  font-size: 14px !important; /* Change the font size */
  text-align: left !important;
  box-shadow: none !important;
  position: relative;
  display: flex; /* Add display flex for proper alignment */
  align-items: center; /* Center align the menu items vertically */
}

.custom-menu-item:hover {
  background-color: #c8c8c8 !important;
}

.custom-menu-item:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%; /* Extend the divider to the full width */
  height: 1px;
  background-color: #ccc; /* Add a divider color */
}

.custom-context-menu {
  border: none !important;
  padding-top: 8px !important;
  padding-bottom: 0 !important;
  background-color: #fafafa !important;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.12),
    0px 8px 8px 0px rgba(0, 0, 0, 0.24) !important;
  padding-left: 0 !important; /* Remove left padding */
}
